.NewNoteField {
  width: 280px;
  margin: auto;
  box-shadow: 4px 4px 10px lightgrey;
  text-align: left;
}

.NewNoteField .header {
  display: flex;
  width: 280px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.NewNoteField .label {
  font-size: 12px;
  user-select: none;
  margin: 5px 0 0 10px;
  color: darkgrey;
}

.NewNoteField .post-btn {
  display: inline-block;
  padding: 5px 10px 0 10px;
  user-select: none;
  cursor: pointer;
  color: lightgrey;
  transition: 0.2s ease-out;
}

.NewNoteField:focus-within .post-btn,
.NewNoteField:hover .post-btn {
  color: rgb(45, 102, 121);
}

.NewNoteField textarea {
  resize: none;
  width: 250px;
  min-height: 120px;
  padding: 5px 15px 15px 15px;
  border: none;
  outline: none;
  display: block;
}